<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
  <connectionStrings>
    <add name="ALSIEntities" connectionString="metadata=res://*/DataAccess.ALSI.csdl|res://*/DataAccess.ALSI.ssdl|res://*/DataAccess.ALSI.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;password=P@ssw0rd;database=alsi;persistsecurityinfo=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <!-- Email -->
    <add key="IsSendEmail" value="true"/>
    <add key="EmailToSupportTeam" value="pawitvaap@gmail.com"/>
    <add key="EmailSubject" value="ALIS | Laboratory Information System"/>
    <add key="EmailFromName" value="Administrator ALIS System"/>
    <add key="EmailFrom" value="pawitvaap@gmail.com"/>
    <add key="Host" value="smtp.gmail.com"/>
    <add key="Port" value="587"/>
    <add key="Username" value="pawitvaap@gmail.com"/>
    <add key="Password" value=""/>
    <add key="SMTPAuth" value="true"/>
    <add key="SMTPSecure" value="tls"/>
    <add key="Mailer" value="smtp"/>
    <!-- ABOUT -->
    <add key="COMPANY_NAME" value="ALS TESTING SERVICES (THAILAND) CO., LTD. Part of the ALS Laboratory Group A Campbell Brothers Limited Company."/>
    <add key="APP_TITLE" value="ALIS | Laboratory Information System"/>
    
    <!--<add key="PATH_SOURCE_DRIVE" value="E:\!Temp\ALIS\uploads\"/>-->
    <add key="PATH_DRIVE" value="C:"/>
    <add key="PATH_SOURCE" value="C:\uploads\{0}\{1}\{2}\{3}\{4}"/>
    <add key="HOST" value="http://localhost"/>
    <add key="PATH_URL" value="/uploads/{0}/{1}/{2}/{3}/{4}"/>
    <add key="PATH_TEMPLATE" value="uploads/template/{0}"/>


    <!-- TEMPLATE CONFIG-->
    <!-- SEAGATE DHS -->
    <add key="seagate.dhs.excel.sheetname.dhs" value="DHS" />
    <add key="wd.dhs.excel.sheetname.dhs" value="DHS" />
    <add key="wd.gcs.workingsheet.majorcomp" value="Major Comp" />
    <add key="wd.gcs.workingsheet.hc" value="HC" />
    <add key="seagate.gcms.excel.sheetname.rhcbase" value="RHC_Base" />
    <add key="seagate.gcms.excel.sheetname.rhchub" value="RHC_Hub" />
    <add key="seagate.gcms.excel.sheetname.workingpg_extractable" value="Workingpg - Extractable" />
    <add key="seagate.gcms.excel.sheetname.workingpg_motor_oil" value="Workingpg - Motor Oil " />
    <add key="seagate.ftir.excel.sheetname.working1" value="working-FTIR" />
    <add key="seagate.ftir.excel.sheetname.working2" value="NVR(ppm)" />
    <add key="seagate.ic.excel.sheetname.working1" value="Workingpg-IC" />
    <add key="seagate.lpc.excel.sheetname.working1.03" value="US-LPC(0.3)" />
    <add key="seagate.lpc.excel.sheetname.working1.06" value="US-LPC(0.6)" />
    <add key="wd.ftir.excel.sheetname.working1" value="FTIR" />
    <add key="wd.ic.excel.sheetname.working1" value="IC" />
    <add key="wd.lpc.excel.sheetname.working1" value="LPC" />


  </appSettings>
  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-6.9.6.0" newVersion="6.9.6.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
</configuration>
