<?xml version="1.0"?>
<configuration>
  <!--test commit 123 -->
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <system.web>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"
        validate="false" />
    </httpHandlers>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.ReportViewer.Common, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
      </buildProviders>
    </compilation>
    <httpRuntime targetFramework="4.5" maxRequestLength="157286400" executionTimeout="3600"  />
  </system.web>
  <connectionStrings>
    <add name="ALSIEntities" connectionString="metadata=res://*/DataAccess.ALSI.csdl|res://*/DataAccess.ALSI.ssdl|res://*/DataAccess.ALSI.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;password=P@ssw0rd;database=alsi;persistsecurityinfo=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <log4net>
    <!-- Debug Log -->
    <appender name="DebugLog" type="log4net.Appender.RollingFileAppender">
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <file value="C:\ALIS\Logs\Web\Debug.log" />
      <datePattern value="'_'yyyyMMdd'.log'" />
      <maximumFileSize value="100MB" />
      <appendToFile value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level -- %message%newline" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="DEBUG" />
        <levelMax value="DEBUG" />
      </filter>
    </appender>
    <!-- Error Log -->
    <appender name="ErrorLog" type="log4net.Appender.RollingFileAppender">
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <file value="C:\ALIS\Logs\Web\Error.log" />
      <datePattern value="'_'yyyyMMdd'.log'" />
      <maximumFileSize value="100MB" />
      <appendToFile value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level -- %message%newline" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="ERROR" />
        <levelMax value="ERROR" />
      </filter>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="DebugLog" />
      <appender-ref ref="ErrorLog" />
    </root>
  </log4net>
  <appSettings>
    <!-- Email -->
    <add key="IsSendEmail" value="true" />
    <add key="EmailToSupportTeam" value="pawitvaap@gmail.com" />
    <add key="EmailSubject" value="ALIS | Laboratory Information System" />
    <add key="EmailFromName" value="Administrator ALIS System" />
    <add key="EmailFrom" value="pawitvaap@gmail.com" />
    <add key="Host" value="smtp.gmail.com" />
    <add key="Port" value="587" />
    <add key="Username" value="pawitvaap@gmail.com" />
    <add key="Password" value="" />
    <add key="SMTPAuth" value="true" />
    <add key="SMTPSecure" value="tls" />
    <add key="Mailer" value="smtp" />
    <!-- ABOUT -->
    <add key="COMPANY_NAME" value="ALS TESTING SERVICES (THAILAND) CO., LTD. Part of the ALS Laboratory Group A Campbell Brothers Limited Company." />
    <add key="APP_TITLE" value="ALIS | Laboratory Information System" />
    <!-- ##################################################-->
    <add key="HOST" value="http://192.168.1.5/alis_file" /> 
    <add key="PATH_URL" value="/uploads/{0}/{1}/{2}/{3}/{4}" />
    <add key="PATH_SOURCE" value="\\192.168.1.5\MyShare\uploads\{0}\{1}\{2}\{3}\{4}" />
    <add key="PATH_TEMPLATE" value="\\192.168.1.5\MyShare\uploads\template\{0}" />
    <!-- ##################################################-->
    <!-- TEMPLATE CONFIG-->
    <!-- SEAGATE DHS -->
    <add key="seagate.dhs.excel.sheetname.dhs" value="DHS" />
    <add key="wd.dhs.excel.sheetname.dhs" value="DHS" />
    <add key="wd.gcs.workingsheet.majorcomp" value="Major Comp" />
    <add key="wd.gcs.workingsheet.hc" value="HC" />
    <add key="seagate.gcms.excel.sheetname.rhcbase" value="RHC_Base" />
    <add key="seagate.gcms.excel.sheetname.rhchub" value="RHC_Hub" />
    <add key="seagate.gcms.excel.sheetname.workingpg_extractable" value="Workingpg - Extractable" />
    <add key="seagate.gcms.excel.sheetname.workingpg_motor_oil" value="Workingpg - Motor Oil " />
    <add key="seagate.ftir.excel.sheetname.working1" value="working-FTIR" />
    <add key="seagate.ftir.excel.sheetname.working2" value="NVR(ppm)" />
    <add key="seagate.ic.excel.sheetname.working1" value="Workingpg-IC" />
    <add key="seagate.lpc.excel.sheetname.working1.03" value="US-LPC(0.3)" />
    <add key="seagate.lpc.excel.sheetname.working1.06" value="US-LPC(0.6)" />
    <add key="wd.ftir.excel.sheetname.working1" value="NVR_FTIR" />
    <add key="wd.ic.excel.sheetname.working1" value="IC" />
    <add key="wd.lpc.excel.sheetname.working1" value="LPC" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.9.6.0" newVersion="6.9.6.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </handlers>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="157286400" />
        <!--50MB-->
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>