<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net>
    <!-- Debug Log -->
    <appender name="DebugLog" type="log4net.Appender.RollingFileAppender">
      <file value="d:\alisapp\log\Debug.log" />
      <datePattern value="'_'yyyy-MM-dd'.log'" />
      <appendToFile value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level -- %message%newline" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="DEBUG" />
        <levelMax value="DEBUG" />
      </filter>
    </appender>
    <!-- Error Log -->
    <appender name="ErrorLog" type="log4net.Appender.RollingFileAppender">
      <file value="d:\alisapp\log\Error.log" />
      <datePattern value="'_'yyyy-MM-dd'.log'" />
      <appendToFile value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level -- %message%newline" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="ERROR" />
        <levelMax value="ERROR" />
      </filter>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="DebugLog" />
      <appender-ref ref="ErrorLog" />
    </root>
  </log4net>
  <connectionStrings>
    <add name="MySqlCon" connectionString="server=localhost;user id=root;password=P@ssw0rd;database=alsi;persistsecurityinfo=True;Convert Zero Datetime=True;" />  </connectionStrings>
  <appSettings>
    <!-- Power BI -->
    <add key="powerbi.applicationid" value="6f63cc72-f078-4f53-bedd-5622aba55a4f" />
    <add key="powerbi.azure.username" value="sukanya.dawan@alsglobal.com" />
    <add key="powerbi.azure.password" value="sukanya48" />
    <!-- End Power BI -->
   

  </appSettings>
  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-1.0.0.999" newVersion="1.0.0.999" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
</configuration>
