<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  
  <connectionStrings>
    <add name="MySqlCon" connectionString="server=localhost;user id=root;password=P@ssw0rd;database=alsi;persistsecurityinfo=True;Convert Zero Datetime=True;" />
  </connectionStrings>

  <appSettings>
    <add key="powerBiPostUrl" value="https://api.powerbi.com/beta/485ca04e-6f74-4050-9764-cdb4bfa89c25/datasets/51e9f519-7c54-4730-8571-15f3c25e9c22/rows?key=E97PRpmHG1%2FXJeBfPVpbW6VQz1rmFUXUvZJH%2BTzIFsVjIpj6hcCW1wJEQr2ZA4cAdbn5cx4buVGp%2BRE2LBR4ZQ%3D%3D"/>
  </appSettings>
  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-1.0.0.999" newVersion="1.0.0.999" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
</configuration>
